# latex files
*.4tc
*.aux
*.bak
*.gz
*.log
*.out
*.pdf
*.tex
*.tmp
*.xref
*.fdb_latexmk
*.fls

# razor files
*.html
*.razor

# files created by runnning render
/temp
/output

# python install files
/dist
*.egg-info
*/__pycache__